<p id="notice"><%= notice %></p>

<br>
<br>
<br>


<div class ="d-flex flex-column mb-3 align-items-center justify-content-center">
  <h1 class="text-white">Categories  <%= link_to "New Task",new_task_path, class:"btn btn-success btn-sm" %> </h1>
  <hr>
  <hr>
      

  
  <div class="container-xl">
    <div class="row">
       <% @categories.each do |category| %>
        <div class="col-md-4">
          <div class="card text-center mt-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= category.name %></h5>
              <p class="card-text">
                <%= link_to 'Show', category, class: "btn btn-secondary btn-sm" %>
                <%= link_to 'Edit', edit_category_path(category), class: "btn btn-secondary btn-sm" %>
                <%= button_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
              </p>
            </div>
          </div>
        </div>
              <% end %>
    </div>
  </div>
  <%= link_to 'New Category', new_category_path, class:"btn btn-success btn-sm mt-5" %>